%slides

  %slide
    .slide-content
      .middle.tac
        = image_tag 'do.svg', alt: 'Design Orlando', width: '30%'

  %slide
    .slide-content
      .middle.tac
        %h1{ style: 'font-size: 800%' } 20

  %slide
    .slide-content
      .middle.tac
        %p.tsxl Drew Barontini &mdash; @drewbarontini

  %slide.slide--title(img="#{image_path('title.gif')}")
    .slide-content
      .bottom
        %p.tsxl Sketchocalypse

  %slide
    .slide-content
      .middle.tac
        %h1.mbxs Rundown
        %ul.lr.tsl
          %li What is Sketch
          %li Primary Features
          %li "Hidden" Features
          %li Lots of demos!

  %slide.slide--contain.slide--fade(img="#{image_path('sketch.png')}")
    .slide-content
      .middle.tac
        %blockquote.tsxl
          Sketch is a <em>modern</em> design application for <em>modern</em> graphic designers.

  %slide(img="#{image_path('fu.gif')}")

  %slide
    .slide-content
      %h1.mbxs Suitable for:
      %ul.tsl
        %li UI Design
        %li Web Design
        %li Icon Design
        %li iOS Design
        %li Illustration

  %slide
    .slide-content
      .middle.tac
        %blockquote.tsxl
          "There is <em>no</em> other tool out there that is so intrinsically connected
          to the way designers work <strong>today</strong>."

  %slide.slide--dark.slide--fade(img="#{image_path('community.jpg')}")
    .slide-content
      .bottom
        %h1 Community

  %slide
    = image_tag 'community-01.png', alt: 'Sketch Community', width: '100%', height: '110%'
  %slide
    = image_tag 'community-02.png', alt: 'Sketch Community', width: '100%', height: '110%'
  %slide
    = image_tag 'community-03.png', alt: 'Sketch Community', width: '100%', height: '110%'

  %slide
    .slide-content
      .middle.tac
        %p.tsxl= link_to 'http://go.drewb.io/links-sketch', 'http://go.drewb.io/links-sketch'

  %slide.slide--contain.slide--video(img="#{image_path('ui-01.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('ui-02.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('ui-03.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('ui-04.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('ui-05.png')}")

  %slide.slide--title
    .slide-content
      .middle.tac
        %h1 Primary Features

  %slide
    .slide-content
      .middle.tac
        %h1 Vector

  %slide.slide--contain.slide--video(img="#{image_path('vector-01.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('vector-02.png')}")

  %slide
    .slide-content
      .middle.tac
        %h1.mbxs Symbols
        %p.tsl Similar to <strong class="bdrb">Smart Objects</strong> in <em>Photoshop</em>.

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1.mbxs Text Styles
        %p.tsl Think, <code>h1</code>, <code>h2</code>, <code>h3</code> in HTML.

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1 Artboards &amp; Pages

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1.mbxs Smart Guides
        %p.tsl
          %em Snap it like it's hot.

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1 Make Grid

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1.mbxs Auto Save &amp; Versions
        %p.tsl Untitled-1.ai

  %slide
    .slide-content
      .middle.tac
        %blockquote.tsxl
          <strong>Auto Save</strong> <em>automatically</em>
          %span.db saves your work continuously.

  %slide.slide--dark
    .slide-content
      .middle
        = image_tag 'versions.png', alt: 'Versions', class: 'db mhc ram'

  %slide
    .slide-content
      .middle.tac
        %h1 Export

  %slide.slide--contain.slide--video(img="#{image_path('export-01.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('export-02.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('export-03.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('export-04.png')}")
  %slide.slide--contain.slide--video(img="#{image_path('export-05.png')}")

  %slide
    .slide-content
      .middle
        %ul.lr.tac.tsxl
          %li
            %code rectangle.png
          %li
            %code rectangle.svg
          %li
            %code rectangle@2x.png

  %slide
    .slide-content
      .middle.tac
        = image_tag 'mirror.png', alt: 'Sketch Mirror', width: '25%', height: '25%'

  %slide
    .slide-content
      .middle.tac
        %p.tsxl
          You can swipe between artboards on
          %span.db your device <em>while</em> you work.

  %slide
    .slide-content
      .middle.tac
        %p.tsxl
          Preview <strong>iPhone</strong> and <strong>iPad</strong>
          %span.db artboards <em>at the same time</em>.

  %slide.slide--title(img="#{image_path('shush.gif')}")
    .middle.full
      .card.card--dark
        %h1.tac Hidden Features

  %slide.slide--dark(img="#{image_path('math.gif')}")
    .middle.tac
      %h1{ style: 'font-size: 600%' } Math

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1 Latest Colors

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1 Text Lists

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1 CSS Styles

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %p.tsxl
          Drag item out of <strong>Layer List</strong> to export.

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      .middle.tac
        %h1 Presentation Mode

  %slide
    .slide-content
      .middle.tac
        %p.tsi.tsh1 Demo

  %slide
    .slide-content
      %h1.mbxs Keyboard Shortcuts
      .grid
        .grid-box.grid-box--1of2
          %ul.lr.tsl
            %li
              %code ALT
              &mdash; Measure distances
            %li
              %code ctrl+C
              &mdash; Color picker
            %li
              %code ENTER
              &mdash; Edit object
            %li
              %code ESC
              &mdash; Leave editing
        .grid-box.grid-box--1of2
          %ul.lr.tsl
            %li
              %code cmd+D
              &mdash; Duplicate layer
            %li
              %code cmd+R
              &mdash; Rename layer
            %li
              %code tab
              &mdash; Move through layers
            %li
              %code cmd+G
              &mdash; Create layer group

  %slide
    = image_tag 'shortcuts.png', alt: 'Sketch Shortcuts', width: '100%', height: '100%'

  %slide
    = image_tag 'sketch-site.png', alt: 'Sketch Site', width: '100%', height: '100%'

  %slide.slide--dark.slide--fade.slide--fade--light(img="#{image_path('micdrop.gif')}")
    .slide-content
      .middle.tac
        %h1 Thank you!
        %p= link_to 'http://talks.drewb.io/sketchocalypse/#/', 'http://talks.drewb.io/sketchocalypse/#/'
